<%= form_with(model: avancement, local: false) do |form| %>
  <div class="modal-body">
  <% if avancement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avancement.errors.count, "error") %> prohibited this avancement from being saved:</h2>

      <ul>
      <% avancement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :matricule_employe %>
    <%= form.text_field :matricule_employe, id: :avancement_matricule_employe, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :date_avancement %>
    <%= form.date_field :date_avancement, id: :avancement_date_avancement , class: "form-control", required: true %>
  </div>

  </div><!-- modal body -->
  <div class="modal-footer">
      <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
      <%= form.submit "Enregistrer", class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
