<%= form_with(model: type_conge, local: false) do |form| %>
<div class="modal-body">
  <% if type_conge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_conge.errors.count, "error") %> prohibited this type_conge from being saved:</h2>

      <ul>
      <% type_conge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Libellé" %>
    <%= form.text_field :name, id: :type_conge_name, class: "form-control" %>
  </div>

 
  </div><!-- modal body -->
  <div class="modal-footer">
      <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
      <%= form.submit "Enregistrer", class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
