<%= form_with(model: type_conge, local: true) do |form| %>
  <% if type_conge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_conge.errors.count, "error") %> prohibited this type_conge from being saved:</h2>

      <ul>
      <% type_conge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :type_conge_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
