<% @conges.each do |conge| %>
      <tr>
      <td><%= conge.id%></td>

        <td><%= type_conge_id_to_libelle(conge.type_conge_id) %></td>
        <td><%= conge.date_debut %></td>
        <td><%= conge.date_fin %></td>

        <td><%= conge.motif %></td>
        <td><%= conge.matricule_employe %></td>
        
        <td class="action-buttons">
                <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_conge_path(conge), title: "Modifier", remote: true %>

<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), delete_conge_path(conge), remote: true, title: "Supprimer", class: "delete" %>
            </td>

      </tr>
    <% end %>