<div class="container">
	<div class="row">
	<div class="col-md-12">
	<div class="index-heading pull-left">
	<h3>Liste des employés</h3>
	</div>
   <div class="pull-right">
   <p>
	<%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Nouveau'), new_employe_path, class: "btn btn-primary", remote: true %>
	</p>
	</div>
	</div>
 </div>
  <div class="row">
 <div class="col-lg-12">
	<div class="panel panel-default">
		  
			 
					<div class="panel-body">
		<table id="table-list" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Matricule</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Sexe</th>
      <th>Date naissance</th>
      <th>Lieu naissance</th>
      <th>Adresse</th>
      <th>Telephone</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @employes.each do |employe| %>
      <tr>
        <td><%= employe.matricule %></td>
        <td><%= employe.nom %></td>
        <td><%= employe.prenom %></td>
        <td><%= employe.sexe %></td>
        <td><%= employe.date_naissance %></td>
        <td><%= employe.lieu_naissance %></td>
        <td><%= employe.adresse %></td>
        <td><%= employe.telephone %></td>
        <td>
        <%= link_to 'Edit', edit_employe_path(employe), remote: true %>
        <%= link_to 'Destroy', employe, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
	</div>
</div>
</div>
</div>
<div id="employe-modal" class="modal fade"></div>

